.creator-form-group {
  font-size: 14px;

  .el-form-item {
    font-size: 14px;

    &.is-error {
      margin-bottom: 30px;

      .el-input__inner {
        border: 0.5px solid #F03738;
        background: rgba(255, 0, 0, 0.2);
      }
    }

    .el-form-item__label,
    .el-checkbox__label {
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 400;
      padding-bottom: 0;
      line-height: 24px;
    }

    &.is-required {
      .el-form-item__label {
        &::before {
          content: '';
        }

        &::after {
          content: '*';
          color: #fa2323;
          margin-left: 2px;
        }
      }
    }

    .el-input__inner,
    .el-textarea__inner {
      background: $dark;
      color: #FFFFFF;
      font-size: 14px;
      border: 0.5px solid #0E071B;
      box-sizing: border-box;
      border-radius: 10px;

      &::placeholder {
        color: #858585;
      }
    }

    .v-upload-media {
      border-radius: 10px;
      // overflow: hidden;

      .el-icon-loading {
        font-size: 25px;
      }

      .v-upload {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 426px;
        margin: 0 auto;
        height: 215px;
        // background: #2F2640;
        border-radius: 10px;
        max-width: 100%;
        text-align: center;
        padding: 18px;
        position: relative;

        .file-input {
          opacity: 0;
          position: absolute;
        }

        h5 {
          text-align: center;
          color: #fff;
          font-size: 20px;
          line-height: 28px;
          font-weight: 600;
        }

        .choose-file {
          border: 2px solid #4AA7FA;
          width: 142px;
          height: 24px;
          line-height: 24px;
          font-weight: 600;
          text-align: center;
          font-size: 16px;
          color: #fff;
          border-radius: 30px;
          background: #2F2640;
          display: block;
          margin: 15px auto;
          padding: 5px 0;
          overflow: hidden;
        }

        .accept {
          text-align: center;
          font-size: 12px;
        }

        .image-upload {
          max-width: 100%;
          max-height: 200px;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 426px;
          margin: 20px auto 0 auto;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;

          .close {
            position: absolute;
            top: -5px;
            right: 5px;
            cursor: pointer;
          }

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }

    .el-select {
      width: 100%;

      .el-input__inner {
        background: $violet-dark;
      }
    }

    .el-checkbox {
      .el-checkbox__input {
        .el-checkbox__inner {
          background: $dark;
          border: 1px solid #44395A;
          border-radius: 2px;
        }
      }
    }

    .el-input-number-custom {
      width: 100%;

      &__icon {
        position: absolute;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0 10px 5px;
        height: 45px;
        right: 0;
        z-index: 1;
      }

      &.is-controls-right {
        .el-input-number-custom__increase [class*=el-icon],
        .el-input-number-custom__decrease [class*=el-icon] {
          transform: scale(1);
          cursor: pointer;
        }
      }

      .el-input-number-custom__increase,
      .el-input-number-custom__decrease {
        background: transparent;
        border: none;
        line-height: 20px;

        i {
          color: $violet-light;
        }
      }

      .el-input__inner {
        padding-left: 15px;
        padding-right: inherit;
        text-align: left;
      }
    }
    
    .el-input-number {
      width: 100%;

      &.is-controls-right {
        .el-input-number__increase [class*=el-icon],
        .el-input-number__decrease [class*=el-icon] {
          transform: scale(1);
        }
      }

      .el-input-number__increase,
      .el-input-number__decrease {
        background: transparent;
        border: none;
        line-height: 20px;

        i {
          color: $violet-light;
        }
      }

      .el-input__inner {
        padding-left: 15px;
        padding-right: inherit;
        text-align: left;
      }
    }

    .el-form-item__error {
      font-size: 10px;
    }
  }

  .form-group-message {
    p {
      margin-top: 5rem;
      text-align: center;
      font-size: 12px;
      color: $grey;
    }
  }
}
